.title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
}

.smallDesc {
    text-align: center;
    font-size: 20px;
}

.generalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.usernameContainer {
    background-color: rgb(235, 235, 235);
    width: 40%;
    border-radius: 8px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.usernameContainer:hover{
    border: 2px solid rgb(163, 159, 159);
}
.usernameLabel {
    margin-right: 2px;
    color: rgb(126, 126, 126);
}

.inputUsername {
    border: none;
    padding: 15px 15px 15px 0;
    width: calc(100% - 130px);
    font-size: medium;
    background-color: rgb(235, 235, 235);
}

.inputUsername:focus {
    outline: none;
}

.inputEmailConteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputEmail{}

@media (max-width: 1200px){
    .usernameContainer{
        width: 50%;
    }
}

@media (max-width: 790px){
    .usernameContainer{
        width: 70%;
    }
}
@media (max-width: 600px){
    .usernameContainer{
        width: 90%;
    }
    .inputUsername{
        width: calc(100% - 130px);
    }
}
